<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<form id="account-form" action="/account/login" method="post">
  <label for="account_email">Email:</label>
  <input type="email" name="account_email" class="account-email">
  <label for="account_password">Password:</label>
  <input type="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" class="account-password">
  <input type="submit" name="submit" value="Submit" class="submit">
  <p id="account-sign-up">No account? <a href="/account/registration">Sign-up</a></p>
</form>