<h1>Welcome to CSE Motors!</h1>
<section id="banner">
    <picture>
        <source media="(max-width:500px)" srcset="images/vehicles/delorean-tn.jpg">
        <img id="banner-img" src="/images/vehicles/delorean.jpg" alt="DMC Delorean" loading="lazy">
    </picture>
    <div id="banner-tag">
        <h2>DMC Delorean</h2>
        <p>3 Cup Holders</p>
        <p>Superman Doors</p>
        <p>Fuzzy dice!</p>
        <a>Own Today</a>
    </div>
</section>
<section class="grids">
    <div class="upgrade-container">
        <h2>Delorean Upgrades</h2>
        <div>
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals" loading="lazy" class="upgrade-img">
            <a>Flame Decals</a>
        </div>
        <div>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" loading="lazy" class="upgrade-img">
            <a>Bumper Stickers</a>
        </div>
        <div>
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" loading="lazy" class="upgrade-img">
            <a>Hub Caps</a>
        </div>
        <div>
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" loading="lazy" class="upgrade-img">
            <a>Flux Capacitor</a>
        </div>
    </div>
    <div class="review-container">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the rod." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it." (5/5)</li>
        </ul>
    </div>
</section>