@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #09814A;
  --secondary-color: #121619;
  --tirtiary-color: grey;
  --black: black;
  --white: white;
}

h1, h2, h3 {
  font-family: "Andada Pro", serif;
}

p, a, li {
  font-family: "Fira Sans", sans-serif;
}

.nav a {
  color: white;
  text-decoration: none;
}

/* Body */

@media screen and (min-width: 500px) {
  body {
    margin: 3rem 6rem;
    background-image: url("/images/site/checkerboard.jpg");
  }
  
  #wrapper {
    background-color: var(--white);
    border: solid 6px var(--primary-color);
    border-radius: 12px;
  }
}

/* Header */

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.siteName, #tools {
  margin: 2rem 1rem;
}

.title {
  font-size: 36px;
  text-decoration: none;
  color: var(--secondary-color);
}

.myaccount {
  font-size: 24px;
  text-decoration: none;
  color: var(--secondary-color);
}

/* Navigation */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--secondary-color);
  margin: 1rem;
  padding: 10px;
  color: white;
}

nav ul li {
  list-style-type: none;
}

/* Banner */

h1 {
  margin: 2rem 1rem;
}

#banner {
  position: relative;
}

#banner-img {
  height: 20rem;
  margin: 0 20%;
}

#banner-tag {
  position: absolute;
  left: 8rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(236, 236, 236, .5);
  color: var(--primary-color);
}

#banner-tag h2 {
  margin: 2px;
  font-size: 30px;
}

#banner-tag p {
  margin: 2px;
  font-size: 24px;
}

#banner-tag a {
  margin: 20px 10px 10px 10px;
  font-size: 20px;
  background-color: var(--primary-color);
  text-align: center;
  padding: 10px;
  color: white;
}

.grids {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Review */

.review-container {
  display: grid;
  grid-template-rows: 2rem 10rem;
  grid-template-columns: 1fr;
}

.review-container h2 {
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 1rem -1rem;
}

.review-container ul {
  grid-row: 2/3;
  grid-column: 1/2;
}

.review-container li {
  margin: 2rem -2rem;
}

/* Upgrades */

.upgrade-container {
  display: grid;
  grid-template-rows: 2rem 8rem 8rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.upgrade-container h2 {
  grid-row: 1/2;
  grid-column: 1/3;
  margin: 1rem;
}

.upgrade-container div {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  text-align: center;
}

.upgrade-container div img {
  border: solid 2px black;
  padding: 25px 70px;
  background-color: var(--primary-color);
}

.upgrade-container div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.upgrade-container div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.upgrade-container div:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.upgrade-container div:nth-child(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.upgrade-img {
  height: 7rem;
  width: auto;
}

/* Classification */

#inv-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0 2rem 0 0;
}

#inv-display li {
  border: 2px solid var(--black);
  border-radius: 8px;
  width: 30%;
  margin: 2rem auto;
}

#inv-display img {
  width: 100%;
  height: auto;
}

.namePrice {
  text-align: center;
  padding: 3px;
}

/* Make and Model */

.make-inventory {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  margin: 0 2rem 0 2rem;
}

.make-inventory img {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
  height: auto;
}

#inv-description {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 1rem;
  font-size: 18px;
}

.make-information {
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 8px;
  background-color: var(--primary-color);
  margin: 0rem 1rem 1rem 1rem;
  height: 260px;
  font-size: 18px;
}

.make-information p {
  margin: 3rem 0 3rem 2rem;
  color: var(--white);
}

/* Account Form */

#account-form {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
}

#account-form input[type="email"], #account-form input[type="password"] {
  display: block;
  width: 90%;
  height: 30px;
  margin: 0.5rem auto 1rem auto;
}

#account-form label {
  margin: 0.5rem auto;
  color: var(--white);
  font-size: 20px;
  margin-left: 5%;
}

#account-form input[type="submit"] {
  border-radius: 33px;
  margin-left: 45%;
}

#account-sign-up {
  color: var(--white);
  text-align: center;
}

#account-sign-up a {
  text-decoration: underline;
}

/* Register Form */

#register-form {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
}

#register-form input {
  border-radius: 5px;
}

#register-form input[type="text"], #register-form input[type="email"], #register-form input[type="password"] {
  display: block;
  width: 90%;
  height: 30px;
  margin: 0.5rem auto 1rem auto;
}

#register-form label {
  margin: 0.5rem auto;
  color: var(--white);
  font-size: 20px;
  margin-left: 5%;
}

#password-requirements {
  color: white;
}

#account-register {
  border-radius: 33px;
  height: 44px;
  margin-left: 5%;
  padding: 10px;
  margin-top: 0.5rem;
}

#register-form input:required:invalid {
  border-right: 5px solid red;
}

#register-form input:required:valid {
  border-right: 5px solid green;
}

/* Classification Form */

#classification-form {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
}

#classification-form input {
  border-radius: 5px;
}

#classification-form input[type="text"] {
  display: block;
  width: 90%;
  height: 30px;
  margin: 0.5rem auto 1rem auto;
}

#classification-form label {
  margin: 0.5rem auto;
  color: var(--white);
  font-size: 20px;
  margin-left: 5%;
}

#classification-form input[type="submit"] {
  border-radius: 33px;
  height: 44px;
  margin-left: 5%;
  padding: 10px;
  margin-top: 0.5rem;
}

#classification-form input:required:invalid {
  border-right: 5px solid red;
}

#classification-form input:required:valid {
  border-right: 5px solid green;
}

/* Inventory Form */

#inventory-form {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
}

#inventory-form input {
  border-radius: 5px;
}

#inventory-form input[type="text"] {
  display: block;
  width: 90%;
  height: 30px;
  margin: 0.5rem auto 1rem auto;
}

#inventory-form select {
  display: block;
  width: 90%;
  height: 30px;
  margin: 2rem auto 1rem auto;
}

#inventory-form label {
  margin: 0.5rem auto;
  color: var(--white);
  font-size: 20px;
  margin-left: 5%;
}

#inventory-form input[type="submit"] {
  border-radius: 33px;
  height: 44px;
  margin-left: 5%;
  padding: 10px;
  margin-top: 0.5rem;
}

#inventory-form input:required:invalid {
  border-right: 5px solid red;
}

#inventory-form input:required:valid {
  border-right: 5px solid green;
}

/* Edit Inventory Form */

#edit-inventory-form {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
}

#edit-inventory-form input, .inv-description {
  border-radius: 5px;
}

#edit-inventory-form input[type="text"], .inv-description {
  display: block;
  width: 90%;
  margin: 0.5rem auto 1rem auto;
}

#edit-inventory-form input[type="text"]:not(.inv-description) {
  height: 30px;
}

#edit-inventory-form select {
  display: block;
  width: 90%;
  height: 30px;
  margin: 2rem auto 1rem auto;
}

#edit-inventory-form label {
  margin: 0.5rem auto;
  color: var(--white);
  font-size: 20px;
  margin-left: 5%;
}

#edit-inventory-form input[type="submit"] {
  border-radius: 33px;
  height: 44px;
  margin-left: 5%;
  padding: 10px;
  margin-top: 0.5rem;
}

#edit-inventory-form input:required:invalid {
  border-right: 5px solid red;
}

#edit-inventory-form input:required:valid {
  border-right: 5px solid green;
}

.inv-description {
  height: 100px;
  resize: none;
}

/* Delete Form */

#delete-form {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
}

#delete-form input {
  border-radius: 5px;
}

#delete-form input[type="text"] {
  display: block;
  width: 90%;
  height: 30px;
  margin: 0.5rem auto 1rem auto;
}

#delete-form label {
  margin: 0.5rem auto;
  color: var(--white);
  font-size: 20px;
  margin-left: 5%;
}

#delete-form input[type="submit"] {
  border-radius: 33px;
  height: 44px;
  margin-left: 5%;
  padding: 10px;
  margin-top: 0.5rem;
}

#delete-form p {
  color: var(--white);
  margin: 5%;
}

/* Update Account Form */

#update-account-form {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
}

#update-account-form input {
  border-radius: 5px;
}

#update-account-form input[type="text"] {
  display: block;
  width: 90%;
  height: 30px;
  margin: 0.5rem auto 1rem auto;
}

#update-account-form label {
  margin: 0.5rem auto;
  color: var(--white);
  font-size: 20px;
  margin-left: 5%;
}

#update-account-form input[type="submit"] {
  border-radius: 33px;
  height: 44px;
  margin-left: 5%;
  padding: 10px;
  margin-top: 0.5rem;
}

#update-account-form p {
  color: var(--white);
  margin: 5%;
}

#update-account-form input:required:invalid {
  border-right: 5px solid red;
}

#update-account-form input:required:valid {
  border-right: 5px solid green;
}

/* Update Password Form */

#update-password-form {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
}

#update-password-form input {
  border-radius: 5px;
}

#update-password-form input[type="text"], #update-password-form input[type="password"] {
  display: block;
  width: 90%;
  height: 30px;
  margin: 0.5rem auto 1rem auto;
}

#update-password-form label {
  margin: 0.5rem auto;
  color: var(--white);
  font-size: 20px;
  margin-left: 5%;
}

#update-password-form input[type="checkbox"] {
  color: var(--white);
  margin-left: 5%;
}

#update-password-form input[type="submit"] {
  border-radius: 33px;
  height: 44px;
  margin-left: 5%;
  padding: 10px;
  margin-top: 1rem;
  display: block;
}

#update-password-form p {
  color: var(--white);
  margin: 5%;
}

#update-password-form input:required:invalid {
  border-right: 5px solid red;
}

#update-password-form input:required:valid {
  border-right: 5px solid green;
}

#password-change {
  margin: 3rem 2rem 0rem 2rem;
}

.accountPassword {
  appearance: "-webkit-text-security: square";
}

/* Footer */

footer p {
  margin: 4rem 1rem 1rem 1rem;
}

@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }

  h1 {
    text-align: center;
  }

  nav ul {
    margin: 0;
  }

  #banner img {
    height: 150px;
  }

  #banner-tag {
    left: 2rem;
    top: 0;
  }

  #banner-tag h2 {
    font-size: 1.5rem;
  }

  #banner-tag p {
    font-size: 1rem;
  }

  #banner-tag a {
    font-size: 1rem;
    margin: 0rem 1rem 1rem 1rem;
    padding: 10px;
  }

  .grids {
    flex-direction: column-reverse;
  }

  .upgrade-container {
    margin: 5rem 1rem 1rem 1rem;
    grid-template-columns: 47% 47%;
  }

  .upgrade-container h2 {
    margin: 0;
  }

  .upgrade-container div {
    margin: 0;
  }

  .upgrade-container img {
    height: 100px;
    width: auto;
  }

  .review-container {
    margin: 4rem 1rem;
  }

  .review-container h2 {
    margin: 1rem;
  }

  .review-container li {
    margin: 2rem -1rem;
  }

  /* Classification */

  #inv-display li {
    width: 100%;
  }

  /* Make and Model */

  .make-inventory {
    display: flex;
    flex-direction: column;
  }

  /* Account Form */

  #account-form {
    width: 90%;
    margin: 0 auto;
  }

  /* Register Form */

  #register-form {
    width: 90%;
    margin: 0 auto;
  }

  /* Update Form */

  #edit-inventory-form {
    width: 90%;
    margin: 0 auto;
  }

  /* Delete Form */

  #delete-form {
    width: 90%;
    margin: 0 auto;
  }

  /* Update Form */

  #update-account-form {
    width: 90%;
    margin: 0 auto;
  }

  /* Update Form */

  #update-password-form {
    width: 90%;
    margin: 0 auto;
  }

}