<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form id="classification-form" action="" method="post">
  <label for="inv_classification">Classifcation</label>
  <input type="text" name="inv_classification" class="inv-classification" value="<%= locals.inv_classification %>" required>
</form>